/* ------------- LINK STYLING ------------- */

a,
a:visited {
    color: #6C7789;
}

a:hover {
    color: white;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.link {
    font-family: 'Roboto';
    text-align: left;
    font-size: 1.2vw;
    padding: 10px 0 0 15px;
}

.link-button {
    font-family: 'Roboto';
    text-align: left;
    font-size: 1.2vw;
    padding: 10px 0 0 15px;
}

.canvas {
    transform: scaleX(-1);
}

.info {
    font-family: 'Courier New';
    font-size: 0.8vw;
    text-align: left;
}