/* ------------- STARTER ------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #252934;
    color: white;
}


/* ------------- TRANSITIONS AND SHADOWS ------------- */

a,
a:visited,
a:hover,
.box .box-container:hover,
.box .box-container {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.box .box-container:hover {
    -webkit-box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.75);
}

.container form,
.box .box-container {
    -webkit-box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 15px -5px rgba(0, 0, 0, 0.25);
}


/* ------------- CONTAINER STYLING ------------- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}


/* ------------- LINK STYLING ------------- */

a,
a:visited {
    color: #6C7789;
}

a:hover {
    color: white;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.box .box-container .link {
    font-family: 'Roboto';
    font-size: 1.2vw;
    padding: 10px 0 0 15px;
    text-align: left;
}


/* ------------- BOX STYLING ------------- */

.box {
    width: 95%;
}

.box .box-container {
    background-color: #2E3441;
    width: 17%;
    height: 350px;
    float: left;
    border-radius: 5px;
}

.info-container {
    background-color: #2E3441;
    margin: 20px 0 9px 0px;
    width: 10%;
    height: 50px;
    float: left;
    border-radius: 5px;
}

.box .box-container-canvas {
    background-color: #2E3441;
    flex-grow: 1;
    width: 50%;
    height: 350px;
    float: left;
    border-radius: 5px;
}

.box .box-container:not(:last-child) {
    margin-right: 50px;
}

.box .box-container .heading {
    margin: 20px 0 9px 15px;
    font-family: 'Roboto';
    font-size: 1.5vw;
    text-align: left;
}